.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #0097ff;
}

.link:hover {
  color: white;
}
.active {
  color: white;
  border-bottom: 1px solid white;
}
