.container {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid blue;
  width: 500px;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 0px 50px rgba(255, 255, 255, 1);
}

.textfield {
  border-radius: 5px;
  outline: 1px solid blue;
}

.textfield:focus,
.textfield:hover {
  outline: none;
}
