.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  margin: 0;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #0097ff;
}

.username:hover {
  color: white;
}

.user {
  margin: 0;
  font-weight: 700;
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #0097ff;
}

.active {
  color: white;
  border-bottom: 1px solid white;
}
